{% extends "layouts/_layout.html" %}

{% block content %}
<main class="main">
  <header class="main__block header">
    <aside class="left"></aside>
    <div class="header__menu center">
      <img class="header__img" src="img/jetro/JETRO.png" alt="JETRO" />
      <ul class="header__navigation">
        {% import "data/jetro.html" as tests %}

        {% for test in tests.list %}
        <li class="header__navigation-item">{{test.title}}</li>
        {% endfor %}
      </ul>
    </div>
    <aside class="right"></aside>
  </header>
  <div class="main__block decoration">
    <aside class="left"></aside>
    <div class="decoration__center center">
      Blog
    </div>
    <aside class="right"></aside>
  </div>
  <div class="main__block content">
    <aside class="left"></aside>
    <div class="content__center center">
      <div class="content__left">
        <div id="slider" class="slider">
          <img src="img/jetro/img1.png" alt="img1" class="content__img"/>
          <!--<img src="img/jetro/img3.png" alt="img3" class="content__img"/>-->
        </div>
        <div class="content__article">
          <div class="content__dates">
            <div class="content__date">
              <div class="content__date_uppercased">Date</div>
              <div class="content__date_grayed">April 15, 2012</div>
            </div>
            <div class="content__date">
              <div class="content__date_uppercased">Tags</div>
              <div class="content__date_grayed">Website | Design</div>
            </div>
            <div class="content__date">
              <div class="content__date_uppercased">Comments</div>
              <div class="content__date_grayed">4</div>
            </div>
          </div>
          <div class="content__text">
            <h2 class="content__header">Top wordpress themes of 2012</h2>
            <div class="content__theme">
              <p class="content__paragraph">
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu.
                Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
                Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
              </p>
              <p class="content__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus.
                Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                Cras varius fermentum iaculis  ...
              </p>
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div class="content__right">
        <div class="content__micro">
          <h3 class="content__micro-header">
            <div class="content__micro-header-text">About Jetro</div>
          </h3>
          <div class="content__micro-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
            Praese nt libero. Sed cursus ante dapibus diam. Sed nisi.
            Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.
          </div>
        </div>
        <div class="content__micro">
          <h3 class="content__micro-header">
            <div class="content__micro-header-text">Categories</div>
          </h3>
          <div class="content__micro-text">
            <ul>
              <li>Video (3)</li>
              <li>Sports (5)</li>
              <li>Media (2)</li>
              <li>Entertainment (7)</li>
              <li>Life (4)</li>
              <li>Super Cool Stuff (8)</li>
            </ul>
          </div>
        </div>
        <div class="content__micro">
          <h3 class="content__micro-header">
            <div class="content__micro-header-text">Photo Gallery</div>
          </h3>
          <div class="content__micro-text content__micro-photo-gallery">
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
            <div class="content__micro-photo"></div>
          </div>
        </div>
      </div>
    </div>
    <aside class="right"></aside>
  </div>
  <div class="main__block article">
    <aside class="left"></aside>
    <div class="article__center center">
      <div class="article__content">
        <img src="img/jetro/img2.png" alt="img2" class="article__img"/>
        <div class="content__article">
          <div class="content__dates">
            <div class="content__date">
              <div class="content__date_uppercased">Date</div>
              <div class="content__date_grayed">April 15, 2012</div>
            </div>
            <div class="content__date">
              <div class="content__date_uppercased">Tags</div>
              <div class="content__date_grayed">Website | Design</div>
            </div>
            <div class="content__date">
              <div class="content__date_uppercased">Comments</div>
              <div class="content__date_grayed">4</div>
            </div>
          </div>
          <div class="content__text">
            <h2 class="content__header">Jesus  Typography  Wallpaper  Giveaway!</h2>
            <div class="content__theme">
              <p class="content__paragraph">
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu.
                Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
                Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
              </p>
              <p class="content__paragraph">
                Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus.
                Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                Cras varius fermentum iaculis  ...
              </p>
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <aside class="right"></aside>
  </div>
  <div class="main__block quote">
    <aside class="left"></aside>
    <div class="quote__center center">
      <div class="quote__content">
        <div class="quote__text">
          Write anything you want here in this quotable area. Something unique you want people to learn
          about your website or some cool random fact. Its totally up to you. Write anything you want
          here in this quotable area. Something unique you want people to learn
          about your website or some cool random fact. Its totally up to you.
        </div>
        <div class="line"></div>
      </div>
    </div>
    <aside class="right"></aside>
  </div>
  <div class="main__block quote linker">
    <aside class="left"></aside>
    <div class="linker__center center">
      <div class="linker__content">
        <div class="linker__text">
          <h2 class="linker__header">
            Some of the best freebies on the web
          </h2>
          <a href="www.bestpsdfreebies.com" class="linker__link">www.bestpsdfreebies.com</a>
          <p class="linker__description">
            Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu.
            Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
          </p>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <aside class="right"></aside>
  </div>
  <div class="main__block pagination">
    <aside class="left"></aside>
    <div class="pagination__center center">
      <ul class="pagination__content">
        {% import "data/pagination.html" as tests %}

        {% for test in tests.links %}
        <li class="pagination__page {% if test.isActive %}pagination__page_active{% endif %}">
          <a class="pagination__link" href="{{test.href}}">{{test.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <aside class="right"></aside>
  </div>
</main>
{% endblock %}
